.logo{
    display: flex;
    margin: 10px;
    justify-content: space-around;
      img{
        width: 5%;
      }
  }
  nav{
      background-color: $bgwhite;
      display: flex;
      align-items: center;
  }
      li{
      text-transform: uppercase;
      list-style-type: none;
      display:inline-block;
      justify-content: space-around;
      padding: 12px;
      font-size: 13px;
      cursor: pointer;
      a{
        text-decoration: none;
        color: $bgblack;
      }
  }
  
  .selected{
    border-bottom: 5px solid $bgazzurro;
    color: $bgazzurro;
  }